html {
	height: 100%;
	
	background: url('../img/background.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	height: 100%;
}

.flex-container {
	height: calc(100% - 30px);
    
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-item {
	text-align: center;
}

a {
	opacity: 0.5; 
	width: 32px; 
	height: 32px; 
	display: inline-block; 
	margin: 10px 10px;
}

a:hover {
	opacity: 1; 
	-webkit-transition: all 0.2s ease-in-out;  
}

a.resume {
	background: transparent url('../img/icon-resume-256.png') center center no-repeat; 
	background-size: 32px 32px;
}

a.linkedin {
	background: transparent url('../img/icon-linkedin-128.png') center center no-repeat; 
	background-size: 32px 32px;
}

a.github {
	background: transparent url('../img/icon-github-32.png') center center no-repeat; 
	background-size: 32px 32px;
}

footer {
	font-size: 80%;
	color: white;
	text-align: center;
}
