* {
	font-family: Segoe UI, Trebuchet MS, sans-serif;
	text-decoration: none;
	color: white;
	font-size: medium;
}

html {                      
	background-image: url('../img/minecraft-horse-0.8.jpg');
	background-repeat: no-repeat;         
	background-position: center center;
}

.columns {
	display: flex;
}

.column {
	flex: 1;
	padding: 0% 1%;           
}

.column p {
	margin: .8em 0 .4em 0;
	padding: 5px;
	color: black;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	text-align: center;
	font-size: large;
	background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1), rgba(0,0,0,0));
}

.column a {
  	padding: 5px;
  	line-height: 200%;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
}

.column a:hover {
	text-decoration: underline;
}

.column img {
	height: 16px;
	width: 16px;
}

							               /* Text Area */					               
.history {
	padding: 0% 1%; 
	resize: none;
	overflow-y: scroll;
	font-size: x-small;
	font-weight: normal;
	background-color: transparent;
	border: none;
}